

<div class="main users-index">
  <div class="container">

    <% @users.each do |user| %>
      <div class="users-index-item"><!-- cssファイルでスタイル定義してる-->

        <%= user.id %>
        <%= user.name %>
        <%= user.age %>

        <%= image_tag user.image_url(:thumb), :height => '50px:' if user.image.present? %>

        <%= link_to "編集", edit_user_path(user.id) %>
        <%= link_to "削除", "/users/#{user.id}",
                              method: :delete,
                              data: {confirm: "削除しますか？"} %>
      </div>
    <% end %>
  </div>
</div>
